<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'/>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'/>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="css/login.css"/>
</head>
<body>
<div class="container">
    <div class="info">
        <h2>Invoice Management</h2>
    </div>
    <!--<img src="img/InvoiceManagement.png" width="300" height="300" />-->
</div>
<div class="form">
    <form class="register-form" action="view/user/register" method="POST">
        <input type="text" placeholder="first name" name="firstName"/>
        <input type="text" placeholder="last name" name="lastName"/>
        <input type="text" placeholder="user name" name="userName"/>
        <input type="text" placeholder="address" name="address"/>
        <input type="email" placeholder="email address" name="email"/>
        <input type="tel" placeholder="phone number" name="phoneNo"/>
        <input type="password" placeholder="password" name="password"/>
        <input type="password" placeholder="re-type password"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <p th:if="${param.error}" class="error">
        Bad Credentials
    </p>
    <form class="login-form" action="login" method="POST">
        <input type="text" placeholder="username" name="username"/>
        <input type="password" placeholder="password" name="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/index.js"></script>
</body>
</html>
